@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: local("IBMPlexMono.ttf"), format("truetype");
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

#text-problem {
  margin-left: 15vw;
  background-color: red;
  color: purple;
  font-size: 100em;
}

#coding-challenge {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: .4rem;
  font-family: IBM Plex Mono;
}

#monaco-editor {
  padding: 10px;
  text-indent: 0px;
  resize: vertical;
  height: 60vh;
  width: 70vw;
  border-left: none;
  font-size: .4rem;
  font-family: IBM Plex Mono;
  border: 1px solid black;
}

#buttons-and-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  padding:5px;
  width: 70vw;
}

#submit-button {
  padding: 10px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.change-problem-buttons {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
